@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');


@font-face {
	font-family: 'Mokoto-Regular';
	src: url('../fonts/Mokoto Glitch Mark 2.eot');
	src: local('☺'), url('../fonts/Mokoto Glitch Mark 2.woff') format('woff'), url('../fonts/Mokoto Glitch Mark 2.ttf') format('truetype'), url('../fonts/Mokoto Glitch Mark 2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*-----------------------------*/
:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --depth: 3300px;
  --transition:1s cubic-bezier(.2,.6,0,1);
}
/*----------------------------*/

body{
  color: white;
  font-family: 'Stick No Bills', sans-scerif;
  line-height: 1.8;
  height:var(--depth);
  font-size: calc(var(--index)* 1);
  font-weight: 300;
  -ms-overflow-style: none;  /* Internet Explorer 10+*/
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
header{
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  transition: 1s ease;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}


header .navbar{
  position: fixed;
  top: 2vh;
  right: 50%;
}

header .navbar .navbar__items a{
  font-family: 'Stick No Bills', sans-serif;
  /*position: relative;*/
  color:white;
  font-size: calc(var(--index)* 0.7);
  font-weight: 600;
  text-decoration: none;
  transition: var(--transition);
  background: linear-gradient(to right, #f9f9f9, #f8f8f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .navbar .navbar__items a:hover{
  transition: var(--transition);
  filter: blur(0px);
  letter-spacing: 1px;
  font-size:calc(var(--index) * 1);
  background: linear-gradient(to right, #d9bb0e, #dfdddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar .navbar__items a::before{
  content: '';
  position: absolute;
  background: white;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
header .navbar .navbar__items a:hover::before{
  width: 100%;
}

/*========muzBut===========*/
.muzbtn {
  z-index: 0;
  transform: scale(0.35);
  height: calc(var(--index) * 3);
  position:fixed;
  bottom: 0%;
  left: 47vw;
  cursor: pointer;
  opacity: 0.7;
  transition: 1s ease;
  display:flex;
}

.muzbtn div {
  filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.483);
  height: 100%;
  width: 10px;
  animation: loader-3 1.2s infinite ease-in-out;
  box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px wheat, 0 0 70px wheat, 0 0 80px #aeaa40, 0 0 100px #7327c0a2, 0 0 150px #520695;
}

.muzbtn.paused div{
  box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f5f3f7, 0 0 70px #fafcfb, 0 0 80px #fcfcfc, 0 0 100px #f9fafb, 0 0 150px #fdfdfd;
}

.muzbtn .item-2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.muzbtn .item-3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.muzbtn .item-4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.muzbtn .item-5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.muzbtn .item-6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.muzbtn .item-7 {
  -webkit-animation-delay: -0.76s;
  animation-delay: -0.6s;
}
.muzbtn .item-8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@keyframes loader-3 {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*===========================================*/
@media (max-width: 740px){

  header .navbar .navbar__items a{
    font-size: calc(var(--index)* 1.2);
    font-weight: 700;
    transition: var(--transition);
    background: linear-gradient(to right, wheat,wheat);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .muzbtn {
    bottom: 0%;
    left: 40vw;
    
  }
}
/*----------------------------------------- */

.video-bg{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay{
  background-color: rgba(2, 2, 2, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrowbtn {
  z-index: 5;
  position: fixed;
  bottom: 10vh;
  left: 50%;
}
.arrowbtn img{
  border-radius: 50%;
  filter: blur(2px);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6a00ff, 0 0 70px #9500ff, 0 0 80px #8800ff, 0 0 100px #ff0090, 0 0 150px #00fbff;
  animation: arrow 2s infinite alternate ease;
}
@keyframes arrow{
  100%{
    transform:translateY(-15px) ;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px; /*for main container!!!!!!!*/
}

.gallery{
  transform-style: preserve-3d;/*for secondary block-container!!!*/
  height: 100%;
}

.frame{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition), opacity .75s ease;
  will-change: transform;
  transform-style:preserve-3d ;
}

h1,h2,h3,h4{
  font-weight: 100;
  width: min-content;
  line-height: 1;
}
.frame .last-logo{
  font-family: 'Mokoto-Regular';
  font-size: calc(var(--index)* 1.7);
  filter: blur(4px);
  text-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px rgb(157, 70, 70), 0 0 10px #6a00ff, 0 0 20px #8800ff,0 0 150px #00fbff;
}
.frame-media{
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}

.frame-media2{
  position: relative;
  width: 1200px;
  height: 1200px;
  background-position: center;
  background-size: cover;
}


.frame-media-left{
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame-media-right{
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-bg{
  background-color: rgba(0, 0, 0, 0.804);
  
}
.frame-bg2{
  background-color: rgba(0, 0, 0, 0.162);
}
.frame-media video{
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small));
}
.frame-media-right video{
  left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.frame-media-left video{
  right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
  position: relative;
  left: 30vh;
}
.text-left > *{
  position: relative;
  right: 20vh;
}
.frame h3{
color:white;
  font-size: calc(var(--index) * 3);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6a00ff, 0 0 70px #9500ff, 0 0 80px #8800ff, 0 0 100px #ff0090, 0 0 150px #00fbff;
}
.frame p {
  font-size: calc(var(--index) * 2);
  max-width: 30vw;
  margin-top: 5vh;
  background: linear-gradient(45deg,rgb(216, 213, 213),rgb(255, 255, 255),rgb(157, 153, 153) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.last-video{
  opacity: 0.5;
  transform: scale(0.5);
}

.frame .naz{
  transform: scale(0.7);
  filter: blur(1px);
  opacity: 0.7;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6a00ff, 0 0 70px #9500ff, 0 0 80px #8800ff, 0 0 100px #ff0090, 0 0 150px #00fbff;
}
.frame .pav{
  transform: scale(0.7);
  filter: blur(1px);
  opacity: 0.7;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6a00ff, 0 0 70px #9500ff, 0 0 80px #8800ff, 0 0 100px #ff0090, 0 0 150px #00fbff;
}
